.container {
  margin: 50px;
}

.text {
  margin: 0px 10px;
  font-weight: bold;
  font-size: 1.25rem;
}
.button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 1.25rem;
}

.button:active {
  top: 0.1em;
}
